.grid {
    width:400px;
    height:600px;
    background-color: rgb(170, 200, 240);
    position: relative;
    font-size: 200px;
    text-align: center;
}

.doodler {
    width: 65px;
    height:80px;
    background-image: url('Happy_Slime\(game\).png');
    position: absolute;
}

.platform {
    width: 85px;
    height: 15px;
    background-color: green;
    position: absolute;
}